@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: ui-monospace, SFMono-Regular, 'SF Mono', Consolas,
    'Liberation Mono', Menlo, monospace;
  --color-brand-green: #4a6f3e;
  --color-brand-lime: #a7ba34;
  --color-brand-active: #799b4b;
  --color-brand-muted: #9096a2;
  --color-success: #4a6f3e;
  --color-success-light: #7abd63;
  --color-danger: #d85f5f;
  --color-danger-light: #eb7272;
  --color-dark-black: #121212;
  --color-gray: #818181;
  --color-bgGray: '#F7F7F7';
  --color-bg-gray: #f7f7f7;
  --color-bg-light: #e7e9e3;
  --color-border-light: #8fa486;
  --color-border-gray: #616161;
  --color-badge-success: #4a6f3e4d;
  --color-light-100: #141414;
  --color-light-200: #424242;
  --color-light-300: #434343;
  --color-light-400: #414141;
  --color-light-500: #525252;
  --color-light-700: #777777;
  --color-light-800: #0e0e0e;
  --color-dark-100: #080808;
  --color-dark-200: #242424;
  --color-dark-300: #0b0b0b;
  --color-dark-400: #191919;
  --color-dark-500: #0f0f0f;
  --color-dark-600: #e7e7e7;
  --color-dark-700: #0d0d0d;
  --color-dark-800: #1c1c1c;
  --color-green-100: #4a6f3e7a;
  --color-green-200: #6ba957;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom CSS */

.scroll-v::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 6px;
}

.hero-bg::before {
  content: '';
  width: 100%;
  height: 570px;
  background-image: url('/hero/hero-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 435px;
  left: 0;
  z-index: -1;
}

/* header.sticky-bg {
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 10px rgba(148, 148, 148, 0.1);
  -webkit-backdrop-filter: blur(6.3px);
  backdrop-filter: blur(6.3px);
} */

header.new-sticky-bg {
  background: linear-gradient(
    90deg,
    rgba(140, 140, 140, 0.3) 0%,
    rgba(57, 83, 49, 0.3) 100%
  );
  backdrop-filter: blur(7.5px);
}

@media screen and (max-width: 768px) {
  header.new-sticky-bg {
    border-radius: 0;
  }
}

/* * {
  border: 1px solid red !important;
} */

.bg-practice::before {
  content: '';
  width: 100%;
  height: 375px;
  background-image: url('/shadow.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-circle-shadow {
  box-shadow: 0px 6px 110px 0px #b9f0a8cc;
  backdrop-filter: blur(243px);
}

.shadow-card {
  box-shadow: 5px 12px 52px #00000033;
}

.shadow-lg {
  box-shadow: 0px 23px 53.3px 0px #0000004d;
}

.generate-notes .ant-tabs-nav {
  width: 48%;
}

.generate-notes .ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 0;
}

.generate-notes .ant-tabs .ant-tabs-tab {
  color: #808080 !important;
  background: #e7e9e3 !important;
  border-radius: 8px;
  padding: 5px 20px !important;
  margin-right: 8px !important;
  margin-left: 0 !important;
  font-weight: 500 !important;
  font-size: 15px !important;
}

.generate-notes .ant-tabs .ant-tabs-tab.ant-tabs-tab-active {
  background: #0c0c0c !important;
  font-family: 'Gilroy-medium' !important;
}

.generate-notes .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
}

.generate-notes .ant-tabs-tab-btn {
  font-family: 'Gilroy-medium' !important;
}

.generate-notes .ant-tabs-ink-bar {
  display: none;
}

.generate-notes .ant-tabs-nav-operations {
  display: none !important;
}

.generate-notes .ant-tabs-nav-list {
  display: flex;
  gap: 6px;
}

/* Add wrapping only on smaller screens */
@media (max-width: 768px) {
  .generate-notes .ant-tabs-nav-list {
    flex-wrap: wrap;
  }
}

.hero-shadow-card {
  background-image: linear-gradient(#00000080, #00000080);
  transition: all;
  transition-duration: 3ms;
}

.group:hover .hero-shadow-card {
  background-image: linear-gradient(transparent, transparent, #000000cf);
}

@media screen and (min-width: 1570px) {
  .notes-block {
    min-width: 720px;
  }
}

@media screen and (min-width: 768px) {
  .show-visible {
    visibility: visible;
  }

  .hide-invisible {
    visibility: hidden;
  }
}

@media screen and (max-width: 991px) {
  .generate-notes .ant-tabs-nav {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .bg-practice::before {
    height: 65px;
  }

  .hide-invisible {
    display: none;
  }

  .demo-block .bg-white {
    min-width: 10.5rem;
  }
}

@keyframes dropdown-scale {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Hide scrollbar for horizontal scroll */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari and Opera */
}

/* Text truncation utilities */
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}